ADMIN_DB_HOST=127.0.0.1
ADMIN_DB_PORT=3306
ADMIN_DB_NAME=bijian_admin
ADMIN_DB_USERNAME=root
ADMIN_DB_PASSWORD=change_me

ADMIN_REDIS_HOST=127.0.0.1
ADMIN_REDIS_PORT=6379
ADMIN_REDIS_DATABASE=0
ADMIN_REDIS_PASSWORD=
